@model IEnumerable<ConexionABD.Models.Miembro>

@{
    ViewBag.Title = "Listado de Miembros";

}
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear nuevo miembro", "crearMiembro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.esSocio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nroSocio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remuneracion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esSocio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nroSocio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remuneracion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Visualizar", "Details", new { /* id=item.PrimaryKey */ }) |
        </td>
    </tr>
}

</table>
